
#_3dImageCase{
    margin: 20px;
    font-weight: bold;
    font-family: 'Baloo Tamma 2', cursive;
}

/* IMAGE DIV */

#imgDiv{
    padding:20px;
    max-width: 200px;
    text-align: center;
    border:solid 1px #D8D8D8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

#imgDiv img{
    cursor: pointer;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}


/* MENU BAR */

#menuBarDiv{
    max-width: 240px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#menuBarDiv ul{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    list-style: none;
    border: solid 1px #D8D8D8;
    justify-content: space-around;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#menuBarDiv li{
    padding: 0;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;    
}


#menuBarDiv li:hover{
    background-color: #E0E0E0;
}

#menuBarDiv button{   
    width:80px;
    border: none;
    outline:none;
    font: inherit;
    color: inherit;
    display: block;
    cursor: pointer;
    padding: 8px 8px;
    background-color: transparent;
}
